<!doctype html>
<html lang="en">

 
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="shortcut icon"
      href="./assets/img/faviconV2.png"
      type="image/x-icon"
    />
    <title>Date - ThingSpeak</title>

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./assets/style/style2.css" />
  </head>

<body>
         <!-- place navbar here -->
     
        <div id="app">
            <main> 
            <header class="container-fluid mb-3 d-flex   ">
                <div class="container">
                    <ul class="nav justify-content-start">
                        <li class="nav-item p-2">
                            <img src="./assets/img/logo..png" alt="" />
                        </li>
                        <li class="nav-item p-2">
                            <a class="nav-link" href="./report.html">Report</a>
                        </li>

                         

                    </ul>
                </div>
                <div class="container">
                    <ul class="nav justify-content-end">
                        <li class="nav-item p-2">
                            <a class="nav-link" href="#" aria-current="page"><i class="bi bi-bell-fill"></i></a>
                        </li>
                        <li class="nav-item p-2">
                            <a class="nav-link" href="#"><i class="bi bi-envelope-fill"></i></a>
                        </li>

                        <li class="nav-item p-2" id="title">
                            <div class="dropdown">
                                <button class="btn   dropdown-toggle" type=" button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{title}} <i class="bi bi-buildings"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                  <li><a class="dropdown-item" @click="logout">Sign Out</a></li>
                                </ul>
                              </div>
                        </li>
                    </ul>
                </div>
            </header>
            
                <div class="container shadow">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
                        <div v-if="field1.length != 0" class="col" id="sensor1">
                            <div class="card radius-10 border-start border-0 border-3 ${color} ">
                              <div class="card-body">
                                <div class="d-flex align-items-center">
                                      <div>
                                        <p class="mb-0 text-secondary">{{channel.field1}}</p>
                                        <h4 class="my-1 text-info">{{field1[field1.length-1].field1}}  ° C</h4>
                                        <p class="mb-0 font-13">Max: {{maxs[0]}} °C</p>
                                        <p class="mb-0 font-13">Min: {{mins[0]}}°C</p>
                                        <p class="mb-0 font-13">Dispersion: {{dispersions[0]}}°C</p>
                                        <p class="mb-0 font-13">Promedio: {{averages[0]}}°C</p>
                                         
                                      </div>
                                </div>
                                <div>
                                <canvas id="${id2}" width="400" height="300"></canvas>
                              </div>
                              </div>
                            </div>

                        </div>
                        
                        <div v-if="field2.length != 0" class="col" id="sensor2"><h1>hola field 2</h1></div>
                        <div v-if="field3.length != 0"  class="col" id="sensor3"><h1>hola field 3</h1></div>
                        <div v-if="field4.length != 0" class="col" id="sensor4"><h1>hola field 4</h1></div>
                        <div v-if="field5.length != 0" class="col" id="sensor5"><h1>hola field 5</h1></div>
                        <div v-if="field6.length != 0" class="col" id="sensor6"><h1>hola field 6</h1></div>
                        <div v-if="field7.length != 0" class="col" id="sensor7"><h1>hola field 7</h1></div>
                        <div v-if="field8.length != 0" class="col" id="sensor8"><h1>hola field 8</h1></div>
                    </div>
                </div>

            </main>






        </div>




     <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/calc.js"></script>
    <script src="./assets/js/date2.js"></script>

</body>

</html>