<!doctype html>
<html lang="en">

<head>
  <title>Reporte</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <link rel="shortcut icon" href="./assets/img/faviconV1.png" type="image/x-icon" /> -->
  <link rel="shortcut icon" href="./assets/img/logo_milu_b.svg" type="image/x-icon" />

  <!-- Bootstrap CSS v5.2.1 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />

  <link rel="stylesheet" href="./assets/style/style.css" />
</head>

<body>
  <div id="report">
    {{monitor }}
    <main>
      <header class="container-fluid mb-1 d-flex   ">
        <div class="container">
          <ul class="nav justify-content-start">
            <li class="nav-link p-2 text-uppercase fw-bolder">
              <img src="./assets/img/logo.png" alt="" class="" />                                    
            </li>
            <li class="nav-item p-2">
              <a class="nav-link btn" href="./date.html">Monitoreo</a>
            </li>
          </ul>
        </div>
        <div class="container">
          <ul class="nav justify-content-end">
            <li class="nav-item p-2">
              <a class="nav-link" href="#" aria-current="page"><i class="bi bi-bell-fill"></i></a>
            </li>
            <li class="nav-item p-2">
              <a class="nav-link" href="#"><i class="bi bi-envelope-fill"></i></a>
            </li>
            <li class="nav-item p-2" id="title">
              <div class="dropdown">
                <button class="btn   dropdown-toggle" type=" button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  {{title}} <i class="bi bi-buildings"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item " @click="logout">Sign Out</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </header>
      <div class="container mt-1">
        <div class="container pb-2">
          <div class="row justify-content-center">
            <div class="col-12 text-center">
              <h1 class="text-uppercase fw-bolder p-2"> Reporte</h1>
            </div>
          </div>
          <div class="row   border p-1 shadow ">
            <div class="col-1    d-flex align-self-center">
              <label for="fechaInicio">Inicio:</label>
            </div>
            <div class="col-2    d-flex align-items-center">
              <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" v-model="dateStart">
            </div>
            <div class="col-1   d-flex align-items-center">
              <label for="fechaFin">Fin:</label>
            </div>
            <div class="col-2  d-flex align-items-center">
              <input type="date" class="form-control" id="fechaFin" name="fechaFin" v-model="dateEnd">
            </div>
            <div class="col-1   d-flex align-items-center">
              <label for="selectorNumerico">Sensor:</label>
            </div>
            <div class="col-2 d-flex align-items-center">
              <select class="form-control" id="sensor" name="sensor" v-model="sensorName">
                <option value="" disabled>Seleccionar</option>
                <option v-for="(item, index) in sensor" :key="index"> {{ item }}</option>
              </select>
            </div>
            <div class="col-3 text-end  ">
              <button type="button" class="btn btn_color_blue btn-lg px-5  " @click="searchDate">Buscar</button>
            </div>
          </div>
        </div>
      </div>
      <template v-if=dates.length!==0>
        <div class="container" >
          <div class="container mt-1  pb-2 ">
            <div class="row border btn_color_blue p-1 shadow  ">
              <div class="col-11 text-center ">
                <h1 class="text-uppercase">{{sensorName}}</h1>
              </div>
              <div class="col-1 d-flex align-items-center">
                <button type="button" class="btn btn_color_blue  p-1  " @click="exportToPdf">Exportar</button>
              </div>
            </div>
          </div>
          <div class="container  ">
            <div class="row mt-2 mb-2 pt-2 pb-2 border  rounded  border-primary ">
              <div class="col-3  ">
                <p class="mb-0 font-14 text-center text-uppercase  ">Max: {{max(dates,field)}} °C</p>
              </div>
              <div class="col-3    ">
                <p class="mb-0 font-14 text-center text-uppercase  ">Min: {{min(dates,field)}} °C</p>
              </div>
              <div class="col-3   ">
                <p class="mb-0 font-14 text-center text-uppercase ">Dispersion: {{dispersion(dates,field)}} °C</p>
              </div>
              <div class="col-3   ">
                <p class="mb-0 font-14 text-center text-uppercase ">Promedio: {{average(dates,field)}} °C</p>
              </div>
            </div>
            <div class="row">
              <table class="table table-bordered table-striped  table-responsive" id="export" >
                <thead>
                  <tr>
                    <th class="text-center align-middle table-primary text-uppercase " scope="col">Fecha</th>
                    <th class="text-center align-middle table-primary text-uppercase " scope="col">Hora</th>
                    <th class="text-center align-middle table-primary text-uppercase " scope="col">Temperatura</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(elemento, index) in dates" :key="index">
                    <td class="text-center align-middle">{{convertDate (elemento.created_at) }}</td>
                    <td class="text-center align-middle">{{convertHours (elemento.created_at) }}</td>
                    <template v-if="sensorNumber===1">
                      <td class="text-center align-middle">{{elemento.field1 }}</td>
                    </template>
                    <template v-if="sensorNumber===2">
                      <td class="text-center align-middle">{{elemento.field2 }}</td>
                    </template>
                    <template v-if="sensorNumber===3">
                      <td class="text-center align-middle">{{elemento.field3 }}</td>
                    </template>
                    <template v-if=sensorNumber===4>
                      <td class="text-center align-middle">{{elemento.field4 }}</td>
                    </template>
                    <template v-if=sensorNumber===5>
                      <td>{{elemento.field5 }}</td>
                    </template>
                    <template v-if=sensorNumber===6>
                      <td>{{elemento.field6 }}</td>
                    </template>
                    <template v-if=sensorNumber===7>
                      <td>{{elemento.field7 }}</td>
                    </template>
                    <template v-if=sensorNumber===8>
                      <td>{{elemento.field8 }}</td>
                    </template>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </template>
    </main>
    <footer>
      <!-- place footer here -->
    </footer>
  </div>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script> -->
<!-- use version 0.20.0 -->
<script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.20.0/package/dist/xlsx.full.min.js"></script>
  <script src="./assets/js/report.js"></script>


</body>

</html>